services:
  web:
    image: diehockn_com:latest
    #ports:
    #  - 5012:3000
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.diehockn.rule=Host(`diehockn.com`)
      - traefik.http.routers.diehockn.entrypoints=websecure,webpublic
      - traefik.http.services.diehockn.loadbalancer.server.port=3000
      - traefik.http.routers.diehockn.tls=true
      - traefik.http.routers.diehockn.tls.certresolver=cloudflare
    #volumes:
    # - /opt/configs/diehockn.com/repo:/repo
    restart: unless-stopped
networks:
  traefik:
    external: true
